
a,.tp-caption a.btn:hover {
	color: #959fa3;
}
.top-nav-collapse {
    background-color:rgba(229, 229, 229, 0.9);
    background: -moz-linear-gradient(to bottom, #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(to bottom, #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(to bottom, #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top , #EFEFEF 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); 
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #959fa3;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #959fa3;
}

.widget-avatar .avatar:hover {
    border: 5px solid #959fa3;
}

.bg-skin {
	background: #959fa3;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #959fa3;
}

footer {
    background-color: #959fa3;
}

.btn-skin {
  color: #fff;
  background-color: #959fa3;
  border-color: #959fa3;
}
