---
layout: default
title: Commandez un taxi en un clic !
subtitle: Le taxi se modernise. Profitez-en !
---

<section class="section">
    <div class="container">
        <div class="row">
            <div>
                <img src="/assets/images/clients_page/Illustration_appli_clients.jpg">
                <p> Illustration non contractuelle. </p>
            </div>
            <div class="cards">
                <div class="column">
                    <div class="card">
                        <div class="card__content">
                            <h3>Pratique</h3>
                            <p>
                                Obtenez un taxi en un clic, et réglez vos courses en espèces, en CB ou même via votre smartphone !
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <h3>A votre écoute</h3>
                            <p>
                            Donnez une note à votre course et assurez vous de profiter du meilleur service
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__content">
                            <h3>Sans frais d’approche</h3>
                            <p>
                            Les courses Le.Taxi sont sans frais d’approche : le chauffeur vous prend en charge avec 0€ sur le compteur !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-grey">
    <div class="container">
        <h2>Pourquoi le taxi ?</h2>
    </div>
    <div class="container large-container">
        <div class="cards">
            <div class="row">
                <div class="card">
                    <div class="card__cover card__cover-white card__cover-small">
                        <img src="/assets/images/clients_page/good_reason_1.svg">
                    </div>
                    <div class="card__content">
                        <h3>Partout en France</h3>
                        <p>Le Taxi, c’est plus de 50.000 chauffeurs en France, partout sur le territoire, de la plus petite commune à la plus grande métropole</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__cover card__cover-white card__cover-small">
                        <img src="/assets/images/clients_page/good_reason_2.svg">
                    </div>
                    <div class="card__content">
                        <h3>Disponibilité</h3>
                        <p>Le Taxi c’est la garantie de commander immédiatement un véhicule au plus près, quel que soit le lieu, le jour ou l’heure.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__cover card__cover-white card__cover-small">
                        <img src="/assets/images/clients_page/good_reason_3.svg">
                    </div>
                    <div class="card__content">
                        <h3>Qualité</h3>
                        <p>Le Taxi, c’est une exigence de qualité renforcée, car ce sont désormais les usagers qui participent à l’évaluation permanente du service.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card__cover card__cover-white card__cover-small">
                        <img src="/assets/images/clients_page/good_reason_4.svg">
                    </div>
                    <div class="card__content">
                        <h3>Sécurité</h3>
                        <p>Le Taxi c’est la garantie d’un chauffeur professionnel et d’applications agréées respectueuses de la vie privée.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 id="apps">Comment faire pour en profiter ?</h2>
        <p>Utilisez l’un des services agréés par l’Etat</p>
        <div class="cards">
            <div class="row">
            {% for id_app in site.data.clients %}
                {% include application.html id_app=id_app type="applications/clients" %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>