---
layout: one-section
title: La presse en parle
---

{% for id_article in site.data.press %}
{% assign id = id_article[0] %}
{% assign article = id_article[1] %}
<div class="press">
    <img src="/assets/images/press/{{id}}.png">
    <h3>{{ article.title }}</h3>
    <p>« Alain Vidalies, a lancé officiellement mardi 4 octobre, à Paris, la plate-forme « le.taxi », qui permet de héler un véhicule par smartphone. « Voilà, il doit arriver dans deux minutes », a constaté le secrétaire d’Etat, penché sur l’écran d’un téléphone où s’affichait le trajet du taxi, commandé quelques secondes plus tôt »</p>
    <p>
        <i>{{ article.type }}</i>
        {% if article.publication %} dans {{ article.publication }} {% endif %}
        {% if article.author %} de {{ article.author }} {% endif %}
        {% if article.date %} le {{ article.date }}  {% endif %}
    </p>
    {% if article.video %}
    <a href="{{ article.video }}">Voir la vidéo</a>
    {% endif %}
    {% if article.link %}
    <a href="{{ article.link }}">Lire l'article</a>
    {% endif %}
</div>
{% endfor %}