{% extends "base-city.html" %}
{% block title %}{{ SITENAME }} : {{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block customcss %}
.intro {
background: url(../../../{{ page.cityphoto }}) no-repeat top center;
}
.intro .slogan {
padding-top: 2em;
background-color: rgba(255,255,255,0.5);
}
.intro .slogan h4 {
color: #f00;
}
.cta-button {
color:#000;
background-color: rgba(255,255,255,0.5);
text-align:center;
font-weight: bold;
align:center;
padding:20px;
}
{% endblock %}
{% block ghostlogo %}
                <a class="navbar-brand ghost-logo" href="index.html#intro">
                     <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_le.taxi.svg">
                 </a>
{% endblock %}
{% block content %}
    <a name="pcontent"></a>

    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="slogan">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_le.taxi.svg">
            <h4>à {{ page.cityname }}</h4>
        </div>
        <div class="page-scroll">
            <a href="#how" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
             <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                        <div class="cta-button">
                           Vous avez testé Le.Taxi ?
                          <a href="#feedback" class="button">
                          <span><i class="fa fa-chevron-circle-right"></i></span>Donnez votre avis</a>
                        </div>
                    </div>
                </div>
                </div>

    </section>
    <!-- /Section: intro -->

     <!-- Section: how -->
      <section id="how" class="home-section text-center">
          <div class="heading-about">
              <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="wow bounceInDown" data-wow-delay="0.4s">
                      <div class="section-heading">
                      <h2>Comment ça marche ?</h2>
                      <i class="fa fa-2x fa-angle-down"></i>
                      </div>
                      </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="container">
          <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                  <hr class="marginbot-50">
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="wow bounceInUp" data-wow-delay="0.4s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>un clic</h5>
                          <div class="avatar"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/howto/1.jpg" alt="" class="img-responsive img-thumbnail" /></div>
                          <p class="caption">Sur son smartphone, le
                          client utilise n'importe
                          quelle <a href="#who_client">application agréée</a>
                          pour héler un taxi au
                          plus près, dans sa zone
                          de prise charge, partout
                          en France, 24h/24</p>
                      </div>
                  </div>
                  </div>
              </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="wow bounceInUp" data-wow-delay="0.6s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>un taxi</h5>
                          <div class="avatar"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/howto/2.jpg" alt="" class="img-responsive img-thumbnail" /></div>
                          <p class="caption">Le chauffeur de taxi qui a décidé d'être visible
                          utilise ses <a href="#who_taxi">outils habituels</a> (terminal embarqué
                          ou application mobile) pour confirmer la course</p>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="wow bounceInUp" data-wow-delay="0.8s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>tout simplement</h5>
                          <div class="avatar"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/howto/3.jpg" alt="" class="img-responsive img-thumbnail" /></div>
                          <p class="caption">Pas de frais d'approche. Le client paie sa course directement au chauffeur, en liquide ou par carte bancaire<br>
                           Le client peut évaluer la course</p>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          </div>
      </section>
      <!-- /Section: how -->

    <!-- Section: who_client -->
    <section id="who_client" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Pour les clients</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">



	    
           <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.6s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>TedyCab</h5>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/tedycab.png" alt="" class="img-responsive img-circle" /></div>
                     </div>
                      <a href="https://play.google.com/store/apps/details?id=com.transdev.tedycab"><img alt="Get it on Google Play" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
                      <a href="https://itunes.apple.com/fr/app/tedycab-votre-taxi-en-un-clic/id1084982482?mt=8"><img alt="Download on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a>
                 </div>
                 </div>
           </div>

	   
           <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.6s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>Zaléou</h5>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/zaleou.png" alt="" class="img-responsive img-circle" /></div>
                     </div>
                      <a href="https://play.google.com/store/apps/details?id=biz.ixxi.opendatataxi"><img alt="Get it on Google Play" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
		      <!-- a href="https://itunes.apple.com/fr/app/"><img alt="Download on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a -->
                 </div>
                 </div>
            </div>


            <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.6s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>Mon Appli Taxi</h5>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/montaxi.png" alt="" class="img-responsive img-circle" /></div>
                         <!-- a href="http://play.google.com/store/apps/details?id=com.taxibleuservices.mytaxi"><img alt="Get it on Google Play" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
                         <a href="https://itunes.apple.com/fr/app/montaxi/id953924194?mt=8"><img alt="Download on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a -->
			 <p class="subtitle">bientôt disponible</p>
                     </div>
                 </div>
                 </div>
             </div>

	    
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>TaxiProxi</h5>
                        <div class="avatar"><img src="{{ SITEURL }}/images/team/taxiproxi.png" alt="" class="img-responsive img-circle" /></div>
                        <!-- a href="http://play.google.com/store/apps/details?id=com.desclick.taxiproxi"><img alt="Get it on Google Play" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
                        <a href="https://itunes.apple.com/fr/app/taxi-proxi/id510336055?mt=8"><img alt="Download on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a -->
			 <p class="subtitle">bientôt disponible</p>
                    </div>
                </div>
                </div>
            </div>

	    
            <!-- div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.2s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>...et d'autres</h5>
                         <p class="subtitle">bientôt disponibles</p>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/anon.png"  alt="" class="img-responsive img-circle" /></div>
                     </div>
                 </div>
                 </div>
             </div -->

         </div>
      </div>
    </section>
    <!-- /Section: who_client -->

    <!-- Section: who_taxi -->
     <section id="who_taxi" class="home-section text-center">
         <div class="heading-about">
             <div class="container">
             <div class="row">
                 <div class="col-lg-8 col-lg-offset-2">
                     <div class="wow bounceInDown" data-wow-delay="0.4s">
                     <div class="section-heading">
                     <h2>Pour les taxis</h2>
                     <p class="fa fa-2x fa-angle-down"></i>
                     </div>
                     </div>
                 </div>
             </div>
             </div>
         </div>
         <div class="container">
         <div class="row">
             <div class="col-lg-2 col-lg-offset-5">
                 <hr class="marginbot-50">
             </div>
         </div>
         <div class="row">
 
              <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="wow bounceInUp" data-wow-delay="0.2s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>Axygest</h5>
                          <p class="subtitle">Equipementier</p>
                          <div class="avatar"><img src="{{ SITEURL }}/images/team/axygest.png"   alt="" class="img-responsive img-circle" /></div>
                     <a href="http://www.axygest.fr/" class="button grey">
                         <span><i class="fa fa-chevron-circle-right"></i></span>web</a>
                      </div>
                  </div>
                  </div>
              </div>

              <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="wow bounceInUp" data-wow-delay="0.6s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>Mon Appli Taxi</h5>
                          <p class="subtitle">Equipementier</p>
                          <div class="avatar"><img src="{{ SITEURL }}/images/team/montaxichauffeur.png"   alt="" class="img-responsive img-circle" /></div>
                         <a href="http://play.google.com/store/apps/details?id=com.taxibleuservices.mytaxicorp"><img alt="Get it on Google Play" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
                         <a href="https://itunes.apple.com/fr/app/montaxi-chauffeur/id954025129?mt=8"><img alt="Download on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a>
                      </div>
                  </div>
                  </div>
              </div>

             <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.4s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>Taxi Bleu du Midi</h5>
                         <p class="subtitle">Opérateur</p>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/tbdm.png"       alt="" class="img-responsive img-circle" /></div>
                     <a href="http://www.taxibleudumidi.fr/" class="button grey">
                         <span><i class="fa fa-chevron-circle-right"></i></span>web</a>
                     </div>
                 </div>
                 </div>
             </div>

             <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.2s">
                 <div class="team boxed-grey">
                     <div class="inner">
                         <h5>TaxiProxi</h5>
                         <p class="subtitle">Opérateur</p>
                         <div class="avatar"><img src="{{ SITEURL }}/images/team/taxiproxi.png"  alt="" class="img-responsive img-circle" /></div>
                         <a href="http://play.google.com/store/apps/details?id=com.desclick.taxiproxi"><img alt="Get it on Google Play"  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/fr-play-badge.png" /></a>
                         <a href="https://itunes.apple.com/fr/app/taxi-proxi/id510336055?mt=8"><img alt="Download  on Appstore" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/badges/download_appstore.svg"></a>
                     </div>
                 </div>
                 </div>
             </div>

         </div>
          <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
           <div class="row">

              <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>T.R.A.M Montpellier</h5>
                            <p class="subtitle">Opérateur</p>
                            <div class="avatar"><img src="{{ SITEURL }}/images/team/tram.png"    alt="" class="img-responsive img-circle" /></div>
                     <a href="http://www.taxi-tram.fr/" class="button grey">
                         <span><i class="fa fa-chevron-circle-right"></i></span>web</a>
                        </div>
                    </div>
                    </div>
                </div>

              <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="wow bounceInUp" data-wow-delay="0.4s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>UNT</h5>
                          <p class="subtitle">Opérateur</p>
                          <div class="avatar"><img src="{{ SITEURL }}/images/team/unt.png"       alt="" class="img-responsive img-circle" /></div>
                     <a href="http://www.u-n-t.fr/" class="button grey">
                         <span><i class="fa fa-chevron-circle-right"></i></span>web</a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
       </div>
     </section>
     <!-- /Section: who_taxi -->

    <!-- Section Feedback -->
        <section id="feedback" class="home-section">
            <div class="heading-about text-center">
                <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="wow bounceInDown" data-wow-delay="0.4s">
                        <div class="section-heading">
                        <h2>Votre avis</h2>
                        <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
  
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <hr class="marginbot-50">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
     {% import 'translations.html' as translations with context %}
     {{ translations.translations_for(page) }}
     {{ page.content }}
              </div>
            </div>
            </div>
        </section>
     <!-- /Section Feedback -->


    {% endblock %}
