{% extends "base.html" %}
{% block title %}{{ SITENAME }} : {{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block ghostlogo %}
                <a class="navbar-brand" href="/index.html#intro">
                    <div><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/marianne.svg">
                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_le.taxi.svg"></div>
                 </a>
{% endblock %}

{% block navlinks %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="/drivers.html">Chauffeurs</a></li>
                  <li><a href="/clients.html">Clients</a></li>
                  <li><a href="/partners.html">Partenaires</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">En savoir plus <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/faq.html">Foire aux Questions</a></li>
                      <li><a href="/press.html">La presse en parle</a></li>
                      <li><a href="/join.html">Opérateurs/Centrales</a></li>
                      <li><a href="/data.html">Données Anonymisées</a></li>
                      <li><a href="/tech.html">Documentation Technique</a></li>
                      <li><a href="/english.html">In English</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
{% endblock %}

{% block content %}
           

<!-- Section: clients -->
    <section id="clients" class="home-section text-center">

          <div class="heading-about text-center">
               <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="wow bounceInDown" data-wow-delay="0.4s">
                       <div class="section-heading">
                       <h2>Commandez un taxi en un clic !</h2>
                       </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                       <div class="wow bounceInDown" data-wow-delay="0.6s">
                       <div class="col-lg-8 col-lg-offset-2" >
                       <h4>Le taxi se modernise. Profitez-en !</h4>
                       <i class="fa fa-2x fa-angle-down"></i>
                       </div>
                       </div>
                   </div>
                   </div>
                   </div>
                   
               </div>
           </div>

</br>
</br>


</br>
</br>





<div class="col-sm-6 col-md-6">
                       <div class="wow bounceInDown" data-wow-delay="0.6s">
                       <img src="/images/about/Illustration_appli_clients.jpg" width="50%"> </video>
                       <p> Illustration non contractuelle. </p>
                       </div>
                   </div>
               </div>
           </div>
      <div class="row">
                <div class="col-sm-4 col-md-4">
                <div class="wow fadeInLeft" data-wow-delay="0.6s">
                <div class="service-box">
                <br />
                <br />
                    <div class="service-icon">
                        <img src="/images/about/tick.png" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Pratique</h5>
                        <p class="caption">Obtenez un taxi en un clic, et réglez vos courses en espèces, en CB ou même via votre smartphone !</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/tick.png" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>A votre écoute</h5>
                        <p class="caption">Donnez une note à votre course et assurez vous de profiter du meilleur service</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/tick.png" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Sans frais d'approche</h5>
                        <p class="caption">Les courses Le.Taxi sont sans frais d'approche : le chauffeur vous prend en charge avec 0€ sur le compteur !</p>
                    </div>
                </div>
                </div>

            </div>




    </section>




<!-- Section: why -->
    <section id="why" class="home-section text-center bg-dark text-light">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                    <div class="section-heading">
                    <h2>Pourquoi le taxi ?</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/theme/images/icons/france.svg" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Partout en France</h5>
                        <p class="caption">Le Taxi, c'est plus de 50.000 chauffeurs en France, partout sur le territoire, de la plus petite commune à la plus grande métropole</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/theme/images/icons/clock.svg" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Disponibilité</h5>
                        <p class="caption">Le Taxi c'est la garantie de commander immédiatement un véhicule au plus près, quel que soit le lieu, le jour ou l'heure.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/theme/images/icons/smiley.svg" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Qualité</h5>
                        <p class="caption">Le Taxi, c'est une exigence de qualité renforcée, car ce sont désormais les usagers qui participent à l'évaluation permanente du service.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="wow fadeInRight" data-wow-delay="1.0s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/theme/images/icons/shield.svg" alt="" style="width:48px;height:48px;" />
                    </div>
                    <div class="service-desc">
                        <h5>Sécurité</h5>
                        <p class="caption">Le Taxi c'est la garantie d'un chauffeur professionnel et d'applications agréées respectueuses de la vie privée.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- /Section: why -->


   <!-- Section: who_client -->
    <section id="who" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Comment faire pour en profiter ?</h2>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
                        <div class="row">
                       <div class="wow bounceInDown" data-wow-delay="0.6s">
                       <div class="col-lg-8 col-lg-offset-2" >
                       <h4>Utilisez l'un des services agréés par l'Etat</h4>
                       <i class="fa fa-2x fa-angle-down"></i>
                       </div>
                       </div>
                </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">

      </div>
      </div>

          
           <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.1s">
                   <div class="team boxed-grey">
                       <div class="inner">
                          <div class="ribbon"><span>gratuit</span></div>
                           <h5>Paris Taxis v2.0</h5>
                           <div class="avatar"><img src="/images/team/paristaxis.png" alt="" class="img-responsive img-circle" /></div>
                       </div>
                       <a href="https://play.google.com/store/apps/details?id=com.appspanel.taxiparis"><img alt="Get it on GooglePlay" src="/theme/images/badges/fr-play-badge.png" /></a>
                       <a href="https://itunes.apple.com/fr/app/id756914088?mt=8"><img alt="Download on Appstore" src="/theme/images/badges/download_appstore.svg"></a>

                   </div>
                   </div>
             </div>
           <div class="clearfix visible-xs-block"></div>
           <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.2s">
                   <div class="team boxed-grey">
                       <div class="inner">
                          <div class="ribbon"><span>gratuit</span></div>
                           <h5>Tako</h5>
                           <div class="avatar"><img src="/images/team/tako.png" alt="" class="img-responsive img-circle" /></div>
                       </div>
                       <a href="https://play.google.com/store/apps/details?id=co.triperz.android"><img alt="Get it on GooglePlay" src="/theme/images/badges/fr-play-badge.png" /></a>
                       <a href="https://itunes.apple.com/fr/app/id1052233930?mt=8"><img alt="Download on Appstore" src="/theme/images/badges/download_appstore.svg"></a>
                        <a href="http://www.tak-o.com" class="button grey">
                           <span><i class="fa fa-chevron-circle-right"></i></span>web</a>

                   </div>
                   </div>
             </div>
      
            <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.0s">
                   <div class="team boxed-grey">
                       <div class="inner">
                          <div class="ribbon"><span>gratuit</span></div>
                           <h5>Mon Appli Taxi</h5>
                           <div class="avatar"><img src="/images/team/montaxi.png" alt="" class="img-responsive img-circle" /></div>
                       </div>
                       <a href="https://play.google.com/store/apps/details?id=com.taxibleuservices.mytaxi"><img alt="Get it on GooglePlay" src="/theme/images/badges/fr-play-badge.png" /></a>
                       <a href="https://itunes.apple.com/fr/app/id953924194?mt=8"><img alt="Download on Appstore" src="/theme/images/badges/download_appstore.svg"></a>

                   </div>
                   </div>
             </div>
      
         <div class="col-xs-6 col-sm-3 col-md-3">
                 <div class="wow bounceInUp" data-wow-delay="0.0s">
                   <div class="team boxed-grey">
                       <div class="inner">
                          <div class="ribbon"><span>gratuit</span></div>
                           <h5>Taxiloc</h5>
                           <div class="avatar"><img src="/images/team/taxiloc.png" alt="" class="img-responsive img-circle" /></div>
                       </div>
                       <a href="https://play.google.com/store/apps/details?id=com.deveryware.tram.taxiloc.client&hl=fr"><img alt="Get it on GooglePlay" src="/theme/images/badges/fr-play-badge.png" /></a>
                       <a href="https://itunes.apple.com/fr/app/taxiloc/id511899249?mt=8"><img alt="Download on Appstore" src="/theme/images/badges/download_appstore.svg"></a>

                   </div>
                   </div>
             </div>
 
      
 
         </div>
         <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                  <hr class="marginbot-50">
              </div>
         </div>

       <div class="row">
       </br>
       </br>
       <div class="wow bounceInDown" data-wow-delay="0.6s">       
       <p> Attention, le service n'est pour l'instant ouvert que dans <a href="/index.html#open"> certaines villes. </a> </p>    
       </div>
       <div class="wow bounceInDown" data-wow-delay="0.6s">       
       <p>  <a href="/partners.html"> Liste complète des applications agréées ici </a> </p>    
       </div>
        </div>


    </section>



    <!-- Core JavaScript Files -->
        <script type="text/javascript" src="/theme/webassets-external/7f45fc963e6ed903c6ce13fecf4f1a40_jquery.min.js"></script>
        <script type="text/javascript" src="/theme/webassets-external/344b66b04809856636ae3c7bee85ac65_bootstrap.min.js"></script>
        <script type="text/javascript" src="/theme/webassets-external/a36af1de63ff534d8fa6ef0df33a7694_jquery.easing.js"></script>
        <script type="text/javascript" src="/theme/webassets-external/3d711857cf381966024222492c027bb1_jquery.scrollTo.js"></script>
        <script type="text/javascript" src="/theme/webassets-external/cf9b41a5df015ebe20d8e06965207dc2_wow.min.js"></script>
        <script type="text/javascript" src="/theme/webassets-external/f568bdf2e98e3e62ac397dc5faed4696_custom.js"></script>

    <script type="text/javascript">
        var pkBaseURL = "stats.data.gouv.fr";
    var _paq = _paq || [];
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http")+"://"+pkBaseURL+"/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "18"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
    })();
    </script>
</body>
</html>


    {% endblock %}
