{% extends "base.html" %}
{% block title %}{{ SITENAME }} : {{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}

{% block ghostlogo %}
                <a class="navbar-brand ghost-logo" href="#intro">
                    <div><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/marianne.svg">
                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_le.taxi.svg"></div>
                 </a>
{% endblock %}

{% block navlinks %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="https://le-taxi.gitbook.io/guide/">À propos</a></li>
                  <li><a href="{{ SITEURL }}/partners.html">Partenaires</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">En savoir plus <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ SITEURL }}/drivers.html">Chauffeurs</a></li>
                      <li><a href="{{ SITEURL }}/clients.html">Clients</a></li>
                       <!-- <li><a href="{{ SITEURL }}/faq.html">Foire aux Questions</a></li> 
                      <li><a href="{{ SITEURL }}/press.html">La presse en parle</a></li> -->
                      <li><a href="{{ SITEURL }}/join.html">Opérateurs/Centrales</a></li>
                      <li><a href="{{ SITEURL }}/data.html">Données Anonymisées</a></li>
                      <li><a href="{{ SITEURL }}/tech.html">Documentation Technique</a></li>
                      <!-- <li><a href="{{ SITEURL }}/english.html">In English</a></li> -->
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
          <a name="pcontent"></a>

    <!-- Section: intro -->
    <section id="intro" class="intro">
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/marianne.svg" class="marianne">
        <div class="slogan">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_le.taxi.svg">
            <h4>Registre des taxis</h4>
        </div>
        <div class="page-scroll">
            <a href="#how" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>

    </section>
    <!-- /Section: intro -->


    <!-- Section: good_reasons -->
 <section id="good_reasons" class="home-section text-center">

     <div class="heading-about text-center">
               
               <div class="container">
               <div class="row">
                   <div class="col-lg-8 col-lg-offset-2">
                       <div class="wow bounceInDown" data-wow-delay="0.4s">
                       <div class="section-heading">
                       <h2>5 bonnes raisons de rejoindre le registre</h2>
                       </div>
                       </div>
                   </div>
               </div>
               </div>

                <div class="row">
                       <div class="wow bounceInDown" data-wow-delay="0.4s">
                       <div class="col-lg-8 col-lg-offset-2" >
                       <p class="caption">Le.Taxi n’est pas une application. C’est un registre numérique mis à disposition gratuitement par l’Etat qui permet à des applications partenaires de proposer des taxis à leur clientèle. L'objectif est de permettre à la profession de se hisser au même niveau que les acteurs majeurs du VTC et du numérique en permettant à toute application de mobilité de proposer un bouton pour héler un taxi. Ces services, interconnectés, permettent aux chauffeurs de se lancer dans la maraude électronique, et aux clients de commander le taxi le plus proche, sans frais d’approche.</p>
                       <i class="fa fa-2x fa-angle-down"></i>
                       </div>
                 <div class="wow bounceInDown" data-wow-delay="0.6s">
                 <a href="https://le-taxi.gitbook.io/guide/fonctionnement-du-registre/fonctionnement-actuel" class="button grey">
                 <span><i class="fa fa-chevron-circle-right"></i></span>Plus d'infos !</a>
                       </div>
         </div>
           
      <div class="row">
                <div class="col-sm-6 col-md-6">
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/good_reason_1.png" alt="" style="width:150px" />
                    </div>
                    <div class="service-desc">
                        <h5>Augmentez votre nombre de course</h5>
                        <p class="caption">Obtenez des courses supplémentaires depuis votre smartphone en prenant en charge des clients à proximité, sans frais d’approche.</p>
                    </div>
                </div>        
                </div>
                </div>
                <div class="col-sm-6 col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/good_reason_2.png" alt="" style="width:150px" />
                    </div>
                    <div class="service-desc">
                        <h5>Profitez d’un paiement simplifié</h5>
                        <p class="caption">Les clients vous payent au choix directement en espèces/CB, sans commission, ou par mobile ou SMS.</p>
                    </div>
                </div>
                </div>
                </div>
      </div>
    
    <div class="row">
                <div class="col-sm-6 col-md-6">
                <div class="wow fadeInLeft" data-wow-delay="0.4s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/good_reason_3.png" alt="" style="width:150px" />
                    </div>
                    <div class="service-desc">
                        <h5>Améliorez la satisfaction de vos clients</h5>
                        <p class="caption">Les clients peuvent héler un taxi qui arrive à 0€ au compteur grâce à leur smartphone, et même noter la course.</p>
                    </div>
                </div>        
                </div>
                </div>
                <div class="col-sm-6 col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-box">
                    <div class="service-icon">
                        <img src="/images/about/good_reason_4.png" alt="" style="width:150px" />
                    </div>
                    <div class="service-desc">
                        <h5>Assurez-vous contre les clients indélicats</h5>
                        <p class="caption">Le numéro de téléphone des clients est vérifié, et en cas de client indélicat, vous avez la possibilité de le signaler.</p>
                    </div>
                </div>
                </div>
                </div>
   	</div>

    <div class="row">
         <div class="col-sm-3 col-md-3">    

         </div>         
         <div class="col-sm-6 col-md-6">
         <div class="wow fadeInLeft" data-wow-delay="0.4s">
         <div class="service-box" align="center">
                  <div class="service-icon">
                        <img src="/images/about/good_reason_5.png" alt="" style="width:150px" />
                  </div>
                  <div class="service-desc" align="center">
                        <h5>Affirmez votre indépendance</h5>
                        <p class="caption">Compatible avec tous les statuts, c’est sans abonnement et sans obligation : vous décidez d’être visible ou non.</p>
                  </div>
         </div>        
         </div>
         </div>
         <div class="col-sm-3 col-md-3">    

         </div>         
    </div>

 </section>


</div>

    <!-- Section: how -->
    <section id="how" class="home-section text-center">

 <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Comment ça marche ?</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
              
        <div class="container">
         <div class="row">
                  <div class="col-sm-6 col-md-6">
                       <div class="wow bounceInDown" data-wow-delay="0.6s">
                       <video autoplay loop muted playsinline src="/images/about/Video_site_web_home.mp4"  width="45%">
                       </div>
                  </div>

                  <div class="col-sm-6 col-md-6">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    </br> 
                    </br> 
                    <h4>Vous êtes...</h4>
                     </br> 
                     </br> 
                  </div>
                  </div>
                 <div class="container">
                 <div class="col-sm-6 col-md-6">
                 <div class="wow bounceInDown" data-wow-delay="0.6s">
                 <a href="/drivers.html" class="button grey">
                 <span><i class="fa fa-chevron-circle-right"></i></span>Chauffeur de taxi</a>
                 </br>
                 </br> 
                 </br> 

                 </div>
                 </div>



          <div class="col-sm-6 col-md-6">
          <div class="wow bounceInDown" data-wow-delay="0.6s">
                 <a href="/clients.html" class="button grey">
                 <span><i class="fa fa-chevron-circle-right"></i></span>Particulier</a>
                 </br> 
                 </br> 
                 </br> 

          </div>
          </div>

          <div class="col-sm-6 col-md-6">
          <div class="wow bounceInDown" data-wow-delay="0.6s">
                 <a href="/join.html" class="button grey">
                 <span><i class="fa fa-chevron-circle-right"></i></span>Opérateur ou centrale radio</a>
                 </br>
                 </br> 
                 </br> 

          </div>
          </div>
          </div>
     </div>
     </div>

    </section>
    <!-- /Section: how -->


<!-- Section: open
    <section id="open" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Villes ouvertes</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">

              <div class="col-xs-6 col-sm-3 col-md-3">
                  <div class="wow bounceInUp" data-wow-delay="0.4s">
                  <div class="team boxed-grey">
                      <div class="inner">
                          <h5>Montpellier</h5>
                          <div class="avatar"><img src="{{ SITEURL }}/images/city/montpellier.png" alt="" class="img-responsive" /></div>
                      <a href="/montpellier.html" class="button grey">
                         <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                      </div>
                  </div>
                  </div>
              </div>

              <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Marseille</h5>
                            <div class="avatar"><img src="{{ SITEURL }}/images/city/marseille-logo.png" alt=""    class="img-responsive" /></div>
                            <a href="/marseille.html" class="button grey">
                            <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                        </div>
                    </div>
                    </div>
                </div>

                 <div class="clearfix visible-xs-block"></div>

               <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Aix-en-Provence</h5>
                            <div class="avatar"><img src="{{ SITEURL }}/images/city/aix-logo.png" alt="" class="img-responsive" /></div>
                            <a href="/aix-en-provence.html" class="button grey">
                            <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                        </div>
                    </div>
                    </div>
                </div>
              <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>La Rochelle</h5>
                            <div class="avatar"><img src="{{ SITEURL }}/images/city/larochelle-logo.png" alt="" class="img-responsive" / ></div>
                <a href="/larochelle.html" class="button grey">
                            <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                        </div>
                    </div>
                    </div>
                </div>

         </div>
         <div class="row">
             <div class="col-lg-2 col-lg-offset-5">
                 <hr class="marginbot-50">
             </div>
         </div>
         <div class="row">

             <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Rennes</h5>
                            <div class="avatar"><img src="{{ SITEURL }}/images/city/rennes-logo.png" alt="" class="img-responsive" /></div>
                            <a href="/rennes.html" class="button grey">
                            <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-3">
                       <div class="wow bounceInUp" data-wow-delay="0.4s">
                       <div class="team boxed-grey">
                           <div class="inner">
                               <h5>Paris</h5>
                               <div class="avatar"><img src="{{ SITEURL }}/images/city/paris-logo.png" alt="" class="img-responsive" /></div>
                               <a href="/paris.html" class="button grey">
                               <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                           </div>
                       </div>
                       </div>
                   </div>

         </div>
      </div>
    </section>
    <!-- /Section: open -->

    <!-- /Section: coming soon
    <section id="comingsoon" class="home-section text-center">
        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Ouvertures Prochaines</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">

               <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Métropole de Lyon</h5>
                            <p class="subtitle">ouverture prochaine</p>
                            <div class="avatar"><img src="{{ SITEURL }}/images/city/grand_lyon.png" alt="" class="img-responsive" /></div>
                            <a href="/lyon.html" class="button grey">
                            <span><i class="fa fa-chevron-circle-right"></i></span>en savoir +</a>
                        </div>
                    </div>
                    </div>
                </div>
      </div>
    </section>
    <!-- /Section: comingsoon -->  


    {% endblock %}



