<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <img class="navbar__logo" src="assets/images/logo_le.taxi.svg">
        </div>
        <ul class="footer__links">
            <li><a href="/fonctionnement.html">Fonctionnement</a></li>
            <li><a href="/faq.html">Foire aux questions</a></li>
            <li><a href="/press.html">La presse en parle</a></li>
            <li><a href="/join.html">Opérateurs</a></li>
            <li><a href="/join.html">Centrales</a></li>
            <li><a href="/data.html">Données anonymisées</a></li>
            <li><a href="/tech.html">Documentation Technique</a></li>
            <li><a href="/apropos.html">À propos</a></li>
            <li><a href="/legal.html">Mentions légales</a></li>
            <li><a href="/english.html">In english</a></li>
        </ul>
    </div>
</footer>