<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <img class="navbar__logo" src="assets/images/logo_le.taxi.svg">
        </div>
        <ul class="footer__links">
            <li><a href="/fonctionnement.html">Fonctionnement</a></li>
            <li><a href="/applicatifschauffeurs.html">Applicatifs chauffeurs</a></li>
            <li><a href="/applicatifsclients.html">Applicatifs clients</a></li>
            <li><a href="/faq.html">Foire aux questions</a></li>
            <li><a href="/tech.html">Documentation Technique</a></li>
            <li><a href="/tests.html">Tests fonctionnels</a></li>
            <li><a href="/apropos.html">À propos</a></li>
            <li><a href="/legal.html">Mentions légales</a></li>
         </ul>
    </div>
</footer>
