    <header class="navbar" role="navigation">
        <div class="navbar__container">
            <a class="navbar__home" href="/">
                <img class="navbar__logo" src="assets/images/logo_le.taxi.svg">
            </a>
            <nav>
                <ul class="nav__links">
                    <li class="nav__item"><a href="drivers.html">Chauffeurs</a></li>
                    <li class="nav__item"><a href="clients.html">Clients</a></li>
                </ul>   
            </nav>
        </div>
    </header>
